<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Change My Password</title>
    <link rel="stylesheet" href="{% static 'sells/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link href="{% static 'sells/bundles/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'sells/bundles/css/style.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
</head>

<body>
    <div id="page" class="page">
        <div class="back-image editContent">
            <h1 class="header-w3ls editContent">
                Password Change
            </h1>
            <div class="main editContent">
                <form method="post"> {% csrf_token %}
                    <div>
                        {% if messages %}
                            <div class="messages alert alert-success show">
                                {% for message in messages %}
                                    <label style="color:black;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</label>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div> 
                    <div>
                        <label>Current Password</label>
                        <div class="form-group pass_show"> 
                            <input type="password" name="current_pass" class="form-control" placeholder="Current Password" required> 
                        </div>
                    </div>

                    <div style="outline: none; cursor: inherit;">
                        <label>New Password</label>
                        <div class="form-group pass_show"> 
                            <input type="password" id="new_pass1" name="new_pass" class="form-control" placeholder="New Password" required> 
                        </div> 
                    </div>

                    <div style="outline: none; cursor: inherit;">
                        <label>Confirm Password</label>
                        <div class="form-group pass_show"> 
                            <input type="password" id="confirm_pass2" name="confirm_pass" class="form-control" placeholder="Confirm Password" required> 
                        </div>
                    </div>

                    <div class="rem-pass-agile">
                        <div class="left-side editContent" style="outline: none; cursor: inherit;">
                            
                        </div>
                        <div class="right-side">
                            <a href="/" class="for editContent" style="outline: none; cursor: inherit;">Sign in Here</a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="btnn">
                        <button type="submit" class="btn" style="outline: none; cursor: inherit;">Change Password</button><br>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <div class="copy">
                <p>©{{ company.staring_year }} {{ company.com_name }} | Developed By: <a href="https://www.pythonbd.com/" target="_blank_" >Pythonbd.com</a> 
                </p>
            </div>
        </div>
    </div>
    <script src="{% static 'sells/assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'sells/assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.pass_show').append('<span class="ptxt">Show</span>');  
        });
        
        $(document).on('click','.pass_show .ptxt', function(){ 
            $(this).text($(this).text() == "Show" ? "Hide" : "Show"); 
            $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 
        });

        $("#confirm_pass2").change(function(){
            if($("#new_pass1").val() != $("#confirm_pass2").val())
            {
                alert("Password dosn't match.");
                $("#confirm_pass2").val('');
                $("#confirm_pass2").focus();
            }
       });  
    </script>

</body>
</html>

{% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}