<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="{% static 'sells/bundles/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'sells/bundles/css/style.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="//fonts.googleapis.com/css?family=Oswald:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
</head>

<body>
    <div id="page" class="page">
        <div class="back-image editContent">
            <h1 class="header-w3ls editContent">
                Sign In Form
            </h1>
            <div class="main editContent">
                <div class="headder-icon">
                    <div class="top-icon editContent" style="outline: none; cursor: inherit;">
                        <span class="fa fa-angle-double-down" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                    </div>
                </div>
                <div class="its-sign-in">
                    <h2 class="editContent" style="outline: none; cursor: inherit;">Sign in Here</h2>
                </div>
                <form method="post"> {% csrf_token %}
                    <div class="form-left-w3l editContent" >
                        <input type="text" name="username" placeholder="Mobile" required>
                    </div>
                    <div class="form-left-w3l editContent" style="outline: none; cursor: inherit;">
                        <input type="password" name="password" placeholder="password">
                    </div>
                    <div class="rem-pass-agile">
                        <div class="left-side editContent" style="outline: none; cursor: inherit;">
                            
                        </div>
                        <div class="right-side">
                            <a href="/change-password/" class="for editContent" style="outline: none; cursor: inherit;">Forgot password...?</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="btnn">
                        <button type="submit" class="btn" style="outline: none; cursor: inherit;">Sign in</button><br>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <div class="copy">
                <p>©{{ company.staring_year }} {{ company.com_name }} | Developed By: <a href="https://www.pythonbd.com/" target="_blank_" >Pythonbd.com</a> 
                </p>
            </div>
        </div>
    </div>
</body>
</html>