{% extends 'sells/admin/base.html' %}
{% block title %} Edit  {% endblock %}
{% load staticfiles %}
{% block contain %}
    <div class="row">
        <div class="col-md-10">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="row">
                        <div class="col-md-8">
                            <a class="caption-subject bold" style="font-weight: 600 !important;" href="/product-add/" >
                                <i class="fa fa-thumb-tack"></i>
                                <span class="caption-subject bold">Add Product</span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <div class="actions" style="text-align: right;">
                                <i class="fa fa-hand-o-right"></i>
                                <span class="caption-subject bold" >
                                    <a class="caption-subject bold" style="font-weight: 600 !important;" href="/product-list/">
                                        Go to Product List
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div><hr>
                <div class="portlet-body form">
                    <form method="post" id="hostel_room" class="form-horizontal"> {% csrf_token %}
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td class="label_center"> Product Category </td>
                                <td>
                                    <select name="product_cat" class="form-control select" required> 
                                        {% for data in product_cat %}    
                                            {% if edit_product.category_name_id == data.pk %}
                                                <option value="{{ data.id }}" selected >{{ data.category_name }}</option> 
                                            {% else %}
                                                <option value="{{ data.id }}">{{ data.category_name }}</option> 
                                            {% endif %}
                                        {% endfor %} 
                                    </select>
                                </td> 
                            </tr>
                            <tr>
                                <td class="label_center">Product Name </td>
                                <td>
                                    <input type="text" value="{{edit_product.product_name}}" placeholder="Product Name" name="product_name" class="form-control select" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="label_center"> Brand Name </td>
                                <td>
                                    <input type="text" value="{{edit_product.brand_name}}" placeholder="Brand Name" name="brand_name" class="form-control select">
                                </td>
                            </tr>
                            <tr>
                                <td class="label_center">Product Model Number</td>
                                <td>
                                    <input type="text" value="{{edit_product.product_model_number}}" placeholder="Product Model Number" name="product_model_number" class="form-control select">
                                </td>
                            </tr>
                            <tr>
                                <td class="label_center">Product Color</td>
                                <td>
                                    <input type="text" value="{{edit_product.product_color}}" placeholder="Product Color" name="product_color" class="form-control select">
                                </td>
                            </tr>
                            <tr>
                                <td class="label_center">Unit Price</td>
                                <td>
                                    <input type="number" value="{{edit_product.unit_price}}" placeholder="Unit Price" name="unit_price" class="form-control select" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="label_center">Total Quantity</td>
                                <td>
                                    <input type="number" value="{{edit_product.total_quantity}}" placeholder="Total Quantity" name="total_quantity" class="form-control select" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="label_center">Buy Price</td>
                                <td>
                                    <input type="number" value="{{edit_product.buy_price}}" placeholder="Buy Price" name="buy_price" class="form-control select" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="label_center">Discount</td>
                                <td>
                                    <input type="number" value="{{edit_product.discount}}" placeholder="Discount" name="discount" class="form-control select">
                                </td>
                            </tr>
                            <tr>
                                <td class="label_center"> Discription </td>
                                <td>
                                    <textarea name="discription" class="form-control select"> {{ edit_product.discription }} </textarea>
                                </td>
                            </tr> 

                            <tr>
                                <th></th>
                                <td>
                                    <input type="submit" value="Update" class="btn btn-success"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}