<html>
    <head>
    <title>Search :-{% if date_to_date_sell %} {{ from_date }} To {{ to_date }} {% else %}Location not found  {% endif %}</title>       
    <meta charset="utf-8" />
    </head>
    <body>
      <div class='wrapper'> 
        <table style="background-color: #eee;">
            <tr>
                <td style="width:100%; margin-left:-90px;">
                    <h1 style="margin:0px;text-align:center;padding-top:30px;font-size:24px;">RanaShop</h1>
                    <h4 style="margin:0px;text-align:center;padding-bottom:7px;font-size:16px;color:red;">Date Wise Report</h4>
                </td>
            </tr>
        </table>

        <table border="0.5" width="100%" style="margin-top:10px">
            <thead>
                <tr>
                    <th style="width:40px;text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;">SL</th>
                    <th style="text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;">Salesman</th>
                    <th style="text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;">Product Category</th>
                    <th style="text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;">Product Name</th>
                    <th style="text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;">Buy Price</th>
                    <th style="text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;">Total Quantity</th>
                    <th style="text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;width:100px;">Discount</th>
                    <th style="text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;">Total Price</th>
                    <th style="width:60px;text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;width:200px;">Sales Date</th>
                </tr>
            </thead>
            <tbody>

            {% for data in date_to_date_sell %}
                <tr class="gradeX odd" role="row">
                    <td style="text-align:center;font-size:10px;padding-top:3px">{{ forloop.counter }}</td>
                    <td style="text-align:center;font-size:11px;padding-top:3px;padding-left:3px;color:green;">{{data.salesman}}</td>
                    <td style="text-align:center;font-size:10px;padding-top:3px;width:20%;"> {{data.product}} </td>
                    <td style="text-align:center;font-size:10px;padding-top:3px"> {{data.product.product_name}} </td>
                    <td style="text-align:center;font-size:10px;padding-top:3px"> {{data.product.buy_price}} </td>
                    <td style="text-align:center;font-size:10px;padding-top:3px"> {{data.sale_quantity}} </td>
                    <td style="text-align:center;font-size:10px;padding-top:3px"> {{data.discount}} </td>
                    <td style="text-align:center;font-size:10px;padding-top:3px"> {{ data.total_price }} </td>
                    <td style="text-align:center;font-size:10px;padding-top:3px"> {{ data.sale_date }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
     </body>
 </html>
