<html>
     <head>
         <title>Monthly Report</title>
         <meta charset="utf-8" />
     </head>
     <body>
        <div class='wrapper'> 
            <table style="background-color: #eee;">
                <tr>
                    <td style="width:100%;">
                        <h1 style="margin:0px;text-align:center;padding-top:30px;font-size:24px;">{{company.com_name}}</h1>
                        <h4 style="margin:0px;text-align:center;font-size:12px;">{{ company.address }}</h4>
                        <h4 style="margin:0px;text-align:center;font-size:12px;">{% if company.email %}{{ company.email }}{% endif %}{% if company.mobile %},{{ company.mobile }}{% endif %}</h4>
                        <h4 style="margin:0px;text-align:center;padding-bottom:7px;font-size:16px;">Monthly Report( {{ monthly_sell.0.sale_date|date:"M-Y" }} )</h4>
                    </td>
                </tr>
            </table>

            <table width="100%" style="margin-top:10px;border:1px solid black;">
                <thead>
                    <tr>
                        <th style="width:40px;text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;">SL</th>
                        <th style="text-align:left;padding-left:3px;font-size:10px;padding-top:3px;background-color:#ddd;width:30%;">Salesman</th>
                        <th style="text-align:left;padding-left:3px;font-size:10px;padding-top:3px;background-color:#ddd;">Category</th>
                        <th style="text-align:left;font-size:10px;padding-left:3px;padding-top:3px;background-color:#ddd;width:40%;">Product Name</th>
                        <th style="text-align:right;font-size:10px;padding-top:3px;padding-right:3px;background-color:#ddd;width:20%;">Buy Price</th>
                        <th style="text-align:right;font-size:10px;padding-top:3px;padding-right:3px;background-color:#ddd;width:20%;">Unit Price</th>
                        <th style="text-align:center;font-size:10px;padding-top:3px;background-color:#ddd;width:20%;">Quantity</th>
                        <th style="text-align:right;font-size:10px;padding-top:3px;padding-right:3px;background-color:#ddd;width:20%;">Discount</th>
                        <th style="text-align:right;font-size:10px;padding-top:3px;padding-right:3px;background-color:#ddd;width:20%;">Total Price</th>
                        <th style="width:60px;text-align:left;font-size:10px;padding-left:3px;padding-top:3px;background-color:#ddd;width:200px;">Sales Date</th>
                    </tr>
                </thead>
                <tbody>
                {% if monthly_sell %}
                    {% for data in monthly_sell %}
                        <tr class="gradeX odd" role="row">
                            <td style="text-align:center;font-size:10px;padding-top:3px">{{ forloop.counter }}</td>
                            <td style="text-align:left;font-size:11px;padding-top:3px;padding-left:3px;width:30%;">{{data.salesman}}</td>
                            <td style="text-align:left;padding-left:3px;font-size:10px;padding-top:3px;width:20%;"> {{data.product}} </td>
                            <td style="text-align:left;padding-left:3px;font-size:10px;padding-top:3px"> {{data.product.product_name}} </td>
                            <td style="text-align:right;font-size:10px;padding-right:3px;padding-top:3px;width:20%;"> {{data.product.buy_price}} </td>
                            <td style="text-align:right;font-size:10px;padding-right:3px;padding-top:3px;width:20%;"> {{data.product.unit_price}} </td>
                            <td style="text-align:center;font-size:10px;padding-top:3px;width:20%;"> {{data.sale_quantity}} </td>
                            <td style="text-align:right;font-size:10px;padding-right:3px;padding-top:3px"> {{data.discount}} </td>
                            <td style="text-align:right;font-size:10px;padding-right:3px;padding-top:3px;width:20%;"> {{ data.total_price }} </td>
                            <td style="text-align:left;font-size:10px;padding-top:3px;width:50%;padding-left:3px;"> {{ data.sale_date }} </td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <td style="text-align:center;font-size:10px;padding-top:3px; color:red;" colspan="9">No Data</td>
                {% endif %}
                </tbody>
            </table>
        </div>
        <br>
        <div> 
            <table border="0.5" width="100%" style="margin-top:10px;">
                <thead>
                    <tr>
                        <th style="text-align:center;font-size:10px;padding-top:3px;">Product Sales</th>
                        <th style="text-align:center;font-size:10px;padding-top:3px;">Sold Amount</th>
                        <th style="text-align:center;font-size:10px;padding-top:3px;">Given Discount</th>
                        <th style="text-align:center;font-size:10px;padding-top:3px;">Total Profit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX odd" role="row">
                        <td style="text-align:center;font-size:10px;padding-top:3px;width:20%;"> {{ today_product_sales }} </td>
                        <td style="text-align:center;font-size:10px;padding-top:3px"> {{ today_sale }} </td>
                        <td style="text-align:center;font-size:10px;padding-top:3px"> {{ today_discount_amount }} </td>
                        <td style="text-align:center;font-size:10px;padding-top:3px"> {{ today_profit }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </body>
 </html>
