{% extends 'sells/admin/base.html' %}
{% block title %}Salesman Registration {% endblock %}
{% load staticfiles %}
{% block contain %}
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-striped" id="upload_profile_table" style="background:white;">
            <h3 style="text-align: center;">Registration</h3>
            <div class="tab-content">
                {% if messages %}
                    <div class="messages alert alert-success show">
                        {% for message in messages %}
                            <label style="color:black;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</label>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="POST"> {% csrf_token %}
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" placeholder="Name" class="form-control" required></td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td><input type="text" name="email" placeholder="Email" class="form-control" ></td>
                    </tr>

                    <tr>
                        <td>Mobile</td>
                        <td>
                            <input type="number"  name="mobile" placeholder="Mobile"  class="form-control" required>
                        </td>
                    </tr>

                    <tr>
                        <td>Address</td>
                        <td>
                            <textarea rows="4" name="address" cols="50" class="form-control"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Registration Here" id="upload_profile" class="btn btn-success" style="width:150px;">
                        </td>
                    </tr>
                </form>
            </div>
        </table>	
    </div>
</div>
{% endblock %}