{% extends 'sells/salesman/base.html' %}
{% block title %} Dashboard{% endblock title %}
{% load staticfiles %}
{% block contain %}
<div class="panel-headline">
	<div class="page_body_wraping">
		<div class="col-sm-3">
			<div class="dashboard_box">
				<h5> <i class="fa fa-money"></i></h5>
				<h3>Today Sale Amount</h3>
				<h4>{% if today_sale == none %}[ Tk. 0 ]{% else %}[ Tk. {{ today_sale }} ]{% endif %}</h4>
			</div>
		</div>
		
		<div class="col-sm-3">
			<div class="dashboard_box">
				<h5> <i class="fa fa-sellsy"></i></h5>
				<h3>Today Sale Product</h3>
				<h4>{% if today_sale_product == none %}[ 0 ]{% else %}[ {{ today_sale_product }} ]{% endif %}</h4>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="dashboard_box">
				<h5> <i class="fa fa-money"></i></h5>
				<h3>Total Sale</h3>
				<h4>{% if total_sale == none %}[ Tk. 0 ]{% else %}[ Tk. {{ total_sale }} ]{% endif %}</h4>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="dashboard_box">
				<h5> <i class="fa fa-sellsy"></i></h5>
				<h3>Total Sale Product</h3>
				<h4>{% if total_sale_product == none %}[ 0 ]{% else %}[ {{ total_sale_product }} ]{% endif %}</h4>
			</div>
		</div>
	</div>
</div>
{% endblock %}